In [2]:
import numpy as np
import pandas as pd

In [4]:
Name = "Aditya"
Index = ["Math", "Science" , "DSA", "Python"]
Marks = [87, 97, 89, 77]

s3 = pd.Series(data = Marks, index = Index)
s3.name = Name
s3

Math       87
Science    97
DSA        89
Python     77
Name: Aditya, dtype: int64

In [42]:
s3["DL"] = 85
s3["Python"] = 99

In [43]:
s3

Math       87
Science    97
DSA        89
DL         85
Python     99
Name: Aditya, dtype: int64

In [31]:
s3.drop("Python", inplace= True)
s3

Math       87
Science    97
DSA        89
DL         85
Name: Aditya, dtype: int64

In [36]:
s3.loc["DL"]

np.int64(85)

In [37]:
s3[:"Science"]
s3

Math       87
Science    97
DSA        89
DL         85
Name: Aditya, dtype: int64

In [40]:
print(pd.__version__)

2.2.2

In [47]:
s3["DL"] = 99
s3["Python"] = 99
s3

Math       87
Science    97
DSA        89
DL         99
Python     99
Name: Aditya, dtype: int64

In [48]:
s3.duplicated()

Math       False
Science    False
DSA        False
DL         False
Python      True
Name: Aditya, dtype: bool

In [49]:
s3.duplicated().sum()

np.int64(1)

In [51]:
import numpy as np
s3["null"] = np.nan
s3

Math       87.0
Science    97.0
DSA        89.0
DL         99.0
Python     99.0
null        NaN
Name: Aditya, dtype: float64

In [52]:
s3.isnull().sum()

np.int64(1)

In [53]:
s3.dropna(inplace= True)
s3.isnull().sum()
s3

Math       87.0
Science    97.0
DSA        89.0
DL         99.0
Python     99.0
Name: Aditya, dtype: float64